{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {% if title %}
            {{ title }}
        {% else %}
            Cal Counter
        {% endif %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
    <!-- Nav  -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary justify-content-between mb-2">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-nav ml-2 mr-auto">
            <div class="navbar-item">
                <a class="navbar-brand" href="{% url 'home' %}">Cal Counter</a>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav ml-sm-auto text-center">
                <div class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="#">My Profile</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <!-- Main Content -->
            <div class="col-md-8">
            {% block content %}{% endblock %}
            </div> 
            <!-- Sidebar -->
            <div class="col-md-4">
                <h2>Latest Posts</h2>
                <ul class="list-group">
                    <li class="list-group-item"><strong>User</strong> - Blah</li>
                    <li class="list-group-item"><strong>User</strong> - Blah</li>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>