{% extends 'counter/base.html' %}
{% block content %}
{% for date in dates %}
    <div class="row bg-light border border-info rounded my-2">
        <div class="col-3 bg-primary text-light p-2">
            <h2 class="my-0">{{ date.date|date:"D dS" }}</h2>
            <h4 class="text-info">{{ date.day_totals.energy|floatformat:0 }}kcal</h4>
        </div>
        <div class="col-9">
            {% for foodInst in date.foodInstances %}
                <div class="media mb-2 {% if forloop.last is False %}border-bottom border-secondary{% endif %}">
                    <div class="col-5">
                        <h3><a href="{% url 'food_detail' foodInst.food.pk %}">{{ foodInst.food.name }}</a></h3>
                        <small class="text-muted">{{ foodInst.amount }}g</small>
                    </div>
                    <div class="media-body col-7">
                        <ul class="list-unstyled">
                            <li><strong>Energy</strong> <small class="text-muted">{{ foodInst.totals.energy|floatformat:0 }}kcal</small></li>
                            <li><strong>Carbohydrate</strong> <small class="text-muted">{{ foodInst.totals.carbohydrate|floatformat }}g</small></li>
                            <li><strong>Protein</strong> <small class="text-muted">{{ foodInst.totals.protein|floatformat }}g</small></li>
                            <li><strong>Fat</strong> <small class="text-muted">{{ foodInst.totals.protein|floatformat }}g</small></li>
                            <li><strong>Sodium</strong> <small class="text-muted">{{ foodInst.totals.protein|floatformat }}</small></li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}
{% endblock content %}